html
    body
        .table
            width: 70%
            margin: auto
            border-spacing: 0

            .row
                &--header
                    background-color: $red-color
                    height: 35px

                .cell
                    &-product
                        text-align: left
                        width: 150px

                        &--header
                            text-align: left
                            color: $white-font
                            margin-left: 15px
                            font-size: 16px

                        &-details
                            width: 350px

                            &__title
                                font-size: 18px
                                margin-left: 10px

                            &.title
                                vertical-align: bottom

                            &__price
                                font-size: 15px
                                margin-left: 10px

                            &__remove
                                font-size: 15px
                                margin-left: 10px
                                color: $red-color
                                vertical-align: top
                                background-color: transparent
                                border: none
                                cursor: pointer
                                padding: 0

                            &.remove
                                vertical-align: top

                    &-quantity
                        text-align: center
                        width: 150px


                        &--header
                            text-align: center
                            color: $white-font
                            font-size: 16px

                        &-input
                            width: 110px
                            height: 30px
                            display: flex
                            border-radius: 30px
                            margin: auto

                            *
                                border: none
                                width: 60px
                                flex: 1

                            input[type="number"]::-webkit-inner-spin-button,
                            input[type="number"]::-webkit-outer-spin-button
                                -webkit-appearance: none
                                appearance: none
                                margin: 0

                            input[type="number"]
                                text-align: center
                                background-color: $input-color
                                font-family: $font-roboto

                                &:focus
                                    outline: none

                                &.empty-input
                                    background-color: rgba(255, 0, 0, 0.2)
                                    border-radius: 3px

                            &__button
                                font-family: $font-roboto
                                border-radius: 50% 0 0 50%
                                cursor: pointer
                                padding: 0

                                &:disabled
                                    cursor: default
                                    padding: 0

                                &--minus
                                    border-radius: 50% 0 0 50%

                                &--plus
                                    border-radius: 0 50% 50% 0

                    &-subtotal
                        text-align: right
                        width: 160px

                        &--header
                            text-align: right
                            color: $white-font
                            font-size: 16px
                            margin-right: 15px

                        &__text
                            font-weight: $semibold-weight
                            margin: 7px 10px 7px 0

                    &__line
                        width: 500px
                        height: 5px
                        background-color: $red-color
                        margin-bottom: 10px
                        float: right

                    &-label
                        text-align: left

                        &__text
                            font-weight: $semibold-weight
                            margin: 7px 0 7px 0
                            position: relative
                            left: 51%

                    &__button
                        width: 290px
                        height: 40px
                        float: right
                        margin-top: 15px
                        border-radius: 25px
                        border: none
                        background-color: $red-color
                        color: $white-font
                        font-weight: 500
                        letter-spacing: 0.5px
                        cursor: pointer

        .img
            width: 130px
            height: 130px
            margin: 10px 0 0 10px
