html
    body
        main
            min-height: calc(100% - 220px)

            .table
                width: 70%
                margin: auto
                border-spacing: 0

                .empty-cart
                    height: 350px

                .row
                    &--header
                        background-color: $red-color
                        height: 35px

                    .cell
                        &-product
                            text-align: left
                            width: 130px

                            &--header
                                text-align: left
                                color: $white-font
                                margin-left: 15px
                                font-size: 16px

                            &-details
                                width: 350px

                                &__title
                                    font-size: 18px
                                    margin-left: 5px

                                &.title
                                    vertical-align: bottom

                                &__price
                                    font-size: 15px
                                    margin-left: 5px

                                &__remove
                                    font-size: 15px
                                    margin-left: 0
                                    color: $red-color
                                    vertical-align: top
                                    background-color: transparent
                                    border: none
                                    cursor: pointer
                                    padding: 0
                                    margin-left: 5px

                                &.remove
                                    vertical-align: top

                        &-quantity
                            text-align: center
                            width: 150px

                            &--header
                                text-align: center
                                color: $white-font
                                font-size: 16px

                            &-input
                                width: 110px
                                height: 30px
                                display: flex
                                border-radius: 30px
                                margin: auto

                                *
                                    border: none
                                    width: 60px
                                    flex: 1

                                input[type="number"]::-webkit-inner-spin-button,
                                input[type="number"]::-webkit-outer-spin-button
                                    -webkit-appearance: none
                                    appearance: none
                                    margin: 0

                                input[type="number"]
                                    text-align: center
                                    font-family: $font-roboto
                                    background-color: $input-color

                                    &:focus
                                        outline: none

                                    &.empty-input
                                        background-color: $empty-input

                                &__button
                                    font-family: $font-roboto
                                    border-radius: 50% 0 0 50%
                                    cursor: pointer
                                    padding: 0

                                    &:disabled
                                        cursor: default
                                        padding: 0

                                    &--minus
                                        border-radius: 50% 0 0 50%

                                    &--plus
                                        border-radius: 0 50% 50% 0

                        &-subtotal
                            text-align: right
                            width: 160px

                            &--header
                                text-align: right
                                color: $white-font
                                font-size: 16px
                                margin-right: 15px

                            &__text
                                font-weight: $semibold-weight
                                margin: 7px 10px 7px 0

                        &__line
                            width: calc((100% / 2) + 87px)
                            height: 5px
                            background-color: $red-color
                            margin-bottom: 10px
                            float: right

                        &-label
                            text-align: left

                            &__text
                                font-weight: $semibold-weight
                                margin: 7px 0 7px 0
                                position: relative
                                left: 51%
                                max-width: 150px

                        &__button
                            width: 290px
                            height: 40px
                            float: right
                            margin-top: 15px
                            border-radius: 25px
                            border: none
                            background-color: $red-color
                            color: $white-font
                            font-weight: 500
                            letter-spacing: 0.5px
                            cursor: pointer

                            &:disabled
                                opacity: 0.7
                                cursor: default

                        &--empty
                            width: 40%

            .img
                width: 130px
                height: 130px
                margin: 10px 0 0 10px

            .snackbar
                visibility: hidden
                width: 300px
                height: 40px
                font-size: 15px
                background-color: #333
                color: $white-font
                text-align: center
                border-radius: 5px
                padding: 14px
                z-index: 1
                left: 20px
                margin-bottom: 10px
                position: absolute

            .show
                visibility: visible !important
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s
                animation: fadein 0.5s, fadeout 0.5s 2.5s
                font-size: 17px
                position: absolute
                top: 10px
                left: 20px

            @keyframes fadein
                from
                    left: 0
                    opacity: 0
                to
                    left: 20px
                    opacity: 1

            @keyframes fadeout
                from
                    left: 20px
                    opacity: 1
                to
                    left: 0
                    opacity: 0

@media (max-width: 1400px)
    html
        body
            main
                min-height: calc(100% - 210px)
                .table
                    width: 80%
                    .row
                        .cell
                            &-product
                                &-details
                                    &__title
                                        font-size: 16px

                                    &__price
                                        font-size: 13px

                                    &__remove
                                        font-size: 12px

                            &__button
                                width: 260px
                                height: 40px
                                font-size: 12px

                .img
                    width: 110px
                    height: 110px

@media (max-width: 1200px)
    html
        body
            main
                min-height: calc(100% - 170px)
                .table
                    width: 85%

                    h3
                        font-size: 14px

                    .row
                        &--header
                            height: 30px

                        .cell
                            &-product
                                &--header
                                    font-size: 15px
                                &-details
                                    &__title
                                        font-size: 15px

                            &-quantity
                                &--header
                                    font-size: 15px
                                &-input
                                    width: 90px
                                    height: 24px

                                    input[type="number"]
                                        font-size: 11px

                                    &__button
                                        font-size: 10px

                            &-subtotal
                                &__text
                                    font-size: 15px
                                &--header
                                    font-size: 15px

                            &-label
                                &__text
                                    font-size: 15px

                            &__button
                                width: 220px
                                height: 35px
                                font-size: 11px

                .snackbar
                    width: 240px
                    height: 33px
                    font-size: 12px

@media (max-width: 992px)
    html
        body
            main
                .table
                    h3
                        font-size: 12px

                    .empty-cart
                        height: 200px

                    .row
                        &--header
                            height: 27px

                        .cell
                            &-product
                                &--header
                                    font-size: 13px

                                &-details
                                    &__title
                                        font-size: 13px

                                    &__price
                                        font-size: 12px

                                    &__remove
                                        font-size: 11px
                            &-quantity
                                &--header
                                    font-size: 13px

                                &-input
                                    width: 85px
                                    height: 22px

                                input[type="number"]
                                    font-size: 10px

                            &-subtotal
                                &--header
                                    font-size: 13px

                                &__text
                                    font-size: 13px

                            &__line
                                height: 4px

                            &-label
                                &__text
                                    font-size: 13px

                            &__button
                                width: 190px
                                height: 32px
                                font-size: 11px

                .img
                    width: 95px
                    height: 95px
                    margin: 5px 0 5px 0

                .snackbar
                    width: 210px
                    height: 28px
                    font-size: 11px
                    left: 10px

                @keyframes fadein
                    from
                        left: 0
                        opacity: 0
                    to
                        left: 10px
                        opacity: 1

                @keyframes fadeout
                    from
                        left: 10px
                        opacity: 1
                    to
                        left: 0
                        opacity: 0

@media (max-width: 768px)
    html
        body
            main
                min-height: calc(100% - 150px)
                .table
                    .row
                        &--header
                            height: 22px

                        .cell
                            &-product
                                &--header
                                    font-size: 11px
                                    margin-left: 8px

                                &-details
                                    &__title
                                        font-size: 11px

                                    &__price
                                        font-size: 10px

                                    &__remove
                                        font-size: 10px

                            &-quantity
                                &--header
                                    font-size: 11px

                                &-input
                                    width: 60px
                                    height: 18px

                                    &__button
                                        font-size: 8px

                            &-subtotal
                                &--header
                                    font-size: 11px
                                    margin-right: 8px

                                &__text
                                    font-size: 11px

                            &__line
                                height: 3px

                            &-label
                                &__text
                                    font-size: 11px

                            &__button
                                width: 170px
                                height: 30px
                                font-size: 10px

                .img
                    width: 75px
                    height: 75px
                    margin: 5px 0 5px 0

                .snackbar
                    width: 160px
                    height: 23px
                    font-size: 9px

@media (max-width: 576px)
    html
        body
            main
                min-height: calc(100% - 140px)
                .table
                    h3
                        font-size: 10px
                    .row
                        &--header
                            height: 20px

                        .cell
                            &-product
                                &--header
                                    font-size: 10px
                                    margin-left: 5px

                                &-details
                                    &__title
                                        font-size: 10px

                                    &__price
                                        font-size: 8px

                                    &__remove
                                        font-size: 8px

                            &-quantity
                                &--header
                                    font-size: 10px

                                &-input
                                    width: 40px
                                    height: 15px

                                input[type="number"]
                                    font-size: 7px

                            &-subtotal
                                width: 80px

                                &--header
                                    font-size: 10px
                                    margin-right: 5px

                                &__text
                                    font-size: 9px
                                    margin-right: 7px

                            &__line
                                width: calc((100% / 2) + 43px)
                                height: 3px

                            &-label
                                &__text
                                    font-size: 9px

                            &__button
                                width: 100px
                                height: 22px
                                font-size: 7px
                                letter-spacing: 0

                .img
                    width: 60px
                    height: 60px
                    margin: 5px 0 5px 0

                .snackbar
                    width: 120px
                    height: 16px
                    font-size: 7px
                    padding: 10px

@media (max-width: 414px)
    html
        body
            main
                .table
                    width: 90%

                    h3
                        font-size: 8px

                    .row
                        &--header
                            height: 18px

                        .cell
                            &-product
                                &--header
                                    font-size: 8px
                                    margin-left: 5px

                                &-details
                                    &__title
                                        font-size: 9px
                                        margin-left: 2px

                                    &__price
                                        font-size: 8px
                                        margin-left: 2px

                                    &__remove
                                        font-size: 8px
                                        margin-left: 2px

                            &-quantity
                                &--header
                                    font-size: 8px

                                &-input
                                    width: 35px
                                    height: 13px

                                input[type="number"]
                                    font-size: 6px

                                &__button
                                    font-size: 6px

                            &-subtotal

                                &--header
                                    font-size: 8px
                                    margin-right: 5px

                                &__text
                                    font-size: 8px
                                    margin-right: 3px

                            &__line
                                height: 2px

                            &-label
                                &__text
                                    font-size: 8px

                            &__button
                                width: 90px
                                height: 20px
                                font-size: 7px
                                letter-spacing: 0

                .img
                    width: 50px
                    height: 50px
                    margin: 5px 0 5px 0

@media (max-height: 400px)
    html
        body
            main
                .table
                    .empty-cart
                        height: 150px
