// color
$red-color: #ff3131
$white-font: #fff
$semibold-weight: 600
$font-roboto: Roboto
$footer-bgcolor: #2F4858
$input-color: #F0F0F0
$empty-input: rgba(255, 0, 0, 0.2)

// fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&family=Roboto:wght@300&display=swap')
