.footer
    background-color: $footer-bgcolor
    height: 90px
    width: 100%
    display: flex
    justify-content: center
    margin-top: 20px

    &__text
        color: $white-font
        letter-spacing: 1px
        font-size: 13px
        line-height: 55px

@media (max-width: 1400px)
    .footer
        height: 80px

        &__text
            line-height: 49px
            font-size: 12px

@media (max-width: 1200px)
    .footer
        height: 70px

        &__text
            line-height: 46px
            font-size: 11px

@media (max-width: 768px)
    .footer
        height: 60px

        &__text
            line-height: 40px
            font-size: 9px

@media (max-width: 768px)
    .footer
        height: 60px

        &__text
            line-height: 40px
            font-size: 7px