// color
$header-bgcolor: #ff3131;
$header-font-color: #fff;
$remove-item: #ff3131;
$semibold-weight: 600;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&family=Roboto:wght@300&display=swap');